header {
  display: flex;
  justify-content: space-around;
  background-color: rgba(30, 115, 139, 0.72);
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
}

.header__nav ul {
  display: flex;
}

.header__nav-item {
  font-size: 1.5rem;
  padding: 0 3rem;
}

.header__nav-item span {
  cursor: pointer;
}
