.main__container {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 800px;
}

.main__container.close {
  display: none;
}

.manager, .manager-goods {
  width: 700px;
  flex-direction: column;
  justify-content: space-around;
}

.manager-goods {
  justify-content: flex-start;
}

#add_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-good {
  display: flex;
  flex-direction: column;
}

.create-good * {
  margin: 1rem 0;
}

.create-good input {
  height: 20px;
}

.manager > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sort-goods h3 {
  margin: 0 2rem;
}

.count-price {
  flex-direction: column;
}

.manager-goods__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.item {
  background-color: #fff;
  border: 10px solid #000;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
